<nav class="navbar navbar-expand-md default-color mdb-color mb-5">
  <!-- Logo Image : 아이콘으로 대체 -->
  <i class="fas fa-vote-yea navbar-brand"></i>

  <!-- Breadcrumb-->
  <div class="mr-auto">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb d-inline-flex pl-0 pt-0">
        <li class="breadcrumb-item">
          <a class="white-text" href=""
             [routerLink]="['/polls']">Let's Poll</a>
        </li>
        <li class="breadcrumb-item active">{{title}}</li>
      </ol>
    </nav>
  </div>
  <!-- Breadcrumb-->
</nav>
